USE [master]
GO
/****** Object:  Database [Ecommerce]    Script Date: 14/4/2022 10:13:09 p. m. ******/
CREATE DATABASE [Ecommerce]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Ecommerce', FILENAME = N'D:\SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Ecommerce.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Ecommerce_log', FILENAME = N'D:\SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Ecommerce_log.ldf' , SIZE = 401408KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Ecommerce].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Ecommerce]
GO
/****** Object:  Table [dbo].[Acciones]    Script Date: 14/4/2022 10:13:10 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Acciones](
	[id_error] [int] IDENTITY(1,1) NOT NULL,
	[mensaje] [varchar](100) NULL,
	[Fecha] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_error] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categoria_Producto]    Script Date: 14/4/2022 10:13:10 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categoria_Producto](
	[ID_CATEGORIA] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](25) NULL,
	[cantidad] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_CATEGORIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comprador]    Script Date: 14/4/2022 10:13:10 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comprador](
	[Id_Comprador] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](25) NULL,
	[edad] [int] NULL,
	[Sexo] [binary](1) NULL,
	[Cedula] [varchar](13) NULL,
	[direccion] [varchar](50) NULL,
	[Bonos] [int] NULL,
	[Descuento] [decimal](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Comprador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empleado]    Script Date: 14/4/2022 10:13:10 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleado](
	[id_Empleado] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](25) NULL,
	[edad] [int] NULL,
	[cedula] [varchar](25) NULL,
	[Sexo] [binary](1) NULL,
	[Rol] [binary](1) NULL,
	[Id_Supervirsor] [int] NULL,
	[Ventas] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_Empleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Errores]    Script Date: 14/4/2022 10:13:10 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Errores](
	[id_error] [int] IDENTITY(1,1) NOT NULL,
	[codigo] [int] NOT NULL,
	[mensaje] [varchar](100) NULL,
	[Fecha] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_error] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Factura]    Script Date: 14/4/2022 10:13:10 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Factura](
	[id_factura] [int] IDENTITY(1,1) NOT NULL,
	[id_Comprador] [int] NULL,
	[id_Empleado] [int] NULL,
	[fecha] [datetime] NULL,
	[pago] [decimal](18, 0) NULL,
	[id_Tipo] [int] NULL,
	[subtotal] [decimal](18, 0) NULL,
	[Impuesto] [decimal](18, 0) NULL,
	[Total] [decimal](18, 0) NULL,
	[Bonos_Generados] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_factura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Factura_Detalle]    Script Date: 14/4/2022 10:13:10 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Factura_Detalle](
	[id_detalle] [int] IDENTITY(1,1) NOT NULL,
	[id_factura] [int] NULL,
	[id_producto] [int] NULL,
	[precio] [decimal](18, 0) NULL,
	[cantidad] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_detalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Productos]    Script Date: 14/4/2022 10:13:10 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[id_Producto] [int] IDENTITY(1,1) NOT NULL,
	[id_Categoria] [int] NULL,
	[Nombre] [varchar](25) NULL,
	[Precio] [decimal](18, 0) NULL,
	[Cantidad] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_Producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tipo_Pago]    Script Date: 14/4/2022 10:13:10 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tipo_Pago](
	[id_Tipo] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](25) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_Tipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Acciones] ON 

INSERT [dbo].[Acciones] ([id_error], [mensaje], [Fecha]) VALUES (1, N'Empleado registrado.', CAST(N'2022-04-14T12:31:55.730' AS DateTime))
INSERT [dbo].[Acciones] ([id_error], [mensaje], [Fecha]) VALUES (2, N'Empleado registrado.', CAST(N'2022-04-14T12:31:55.730' AS DateTime))
INSERT [dbo].[Acciones] ([id_error], [mensaje], [Fecha]) VALUES (3, N'Empleado registrado.', CAST(N'2022-04-14T12:31:55.730' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Acciones] OFF
GO
SET IDENTITY_INSERT [dbo].[Categoria_Producto] ON 

INSERT [dbo].[Categoria_Producto] ([ID_CATEGORIA], [nombre], [cantidad]) VALUES (1, N'Calzados', 75)
INSERT [dbo].[Categoria_Producto] ([ID_CATEGORIA], [nombre], [cantidad]) VALUES (2, N'Camisas', 10)
INSERT [dbo].[Categoria_Producto] ([ID_CATEGORIA], [nombre], [cantidad]) VALUES (3, N'Blusas', 0)
SET IDENTITY_INSERT [dbo].[Categoria_Producto] OFF
GO
SET IDENTITY_INSERT [dbo].[Comprador] ON 

INSERT [dbo].[Comprador] ([Id_Comprador], [Nombre], [edad], [Sexo], [Cedula], [direccion], [Bonos], [Descuento]) VALUES (1, N'Rafael', 20, 0x01, N'40200761761', N'Club de Leones', 2697, NULL)
INSERT [dbo].[Comprador] ([Id_Comprador], [Nombre], [edad], [Sexo], [Cedula], [direccion], [Bonos], [Descuento]) VALUES (2, N'Erick', 20, 0x01, N'40200761761', N'Alma Rosa I', 2587, NULL)
INSERT [dbo].[Comprador] ([Id_Comprador], [Nombre], [edad], [Sexo], [Cedula], [direccion], [Bonos], [Descuento]) VALUES (3, N'Pablo', 22, 0x01, N'40200761654', N'Ensanche Ozama', 2598, NULL)
SET IDENTITY_INSERT [dbo].[Comprador] OFF
GO
SET IDENTITY_INSERT [dbo].[Empleado] ON 

INSERT [dbo].[Empleado] ([id_Empleado], [Nombre], [edad], [cedula], [Sexo], [Rol], [Id_Supervirsor], [Ventas]) VALUES (1, N'Francia', 35, N'00145761684', 0x01, 0x01, NULL, 86)
INSERT [dbo].[Empleado] ([id_Empleado], [Nombre], [edad], [cedula], [Sexo], [Rol], [Id_Supervirsor], [Ventas]) VALUES (2, N'Enmanuel', 28, N'00112456789', 0x00, 0x00, 1, 86)
INSERT [dbo].[Empleado] ([id_Empleado], [Nombre], [edad], [cedula], [Sexo], [Rol], [Id_Supervirsor], [Ventas]) VALUES (3, N'Patricia', 23, N'00152456788', 0x01, 0x01, NULL, 168)
SET IDENTITY_INSERT [dbo].[Empleado] OFF
GO
SET IDENTITY_INSERT [dbo].[Factura] ON 

INSERT [dbo].[Factura] ([id_factura], [id_Comprador], [id_Empleado], [fecha], [pago], [id_Tipo], [subtotal], [Impuesto], [Total], [Bonos_Generados]) VALUES (1, 8, 2, CAST(N'2022-04-14T21:17:06.273' AS DateTime), CAST(7000 AS Decimal(18, 0)), 2, CAST(7000 AS Decimal(18, 0)), CAST(0 AS Decimal(18, 0)), CAST(7000 AS Decimal(18, 0)), 540)
INSERT [dbo].[Factura] ([id_factura], [id_Comprador], [id_Empleado], [fecha], [pago], [id_Tipo], [subtotal], [Impuesto], [Total], [Bonos_Generados]) VALUES (2, 9, 7, CAST(N'2022-04-14T21:17:06.417' AS DateTime), CAST(4500 AS Decimal(18, 0)), 2, CAST(4500 AS Decimal(18, 0)), CAST(0 AS Decimal(18, 0)), CAST(4500 AS Decimal(18, 0)), 490)
INSERT [dbo].[Factura] ([id_factura], [id_Comprador], [id_Empleado], [fecha], [pago], [id_Tipo], [subtotal], [Impuesto], [Total], [Bonos_Generados]) VALUES (3, 2, 5, CAST(N'2022-04-14T21:17:06.420' AS DateTime), CAST(24300 AS Decimal(18, 0)), 2, CAST(24300 AS Decimal(18, 0)), CAST(0 AS Decimal(18, 0)), CAST(24300 AS Decimal(18, 0)), 986)
GO
SET IDENTITY_INSERT [dbo].[Factura] OFF
GO
SET IDENTITY_INSERT [dbo].[Factura_Detalle] ON 

INSERT [dbo].[Factura_Detalle] ([id_detalle], [id_factura], [id_producto], [precio], [cantidad]) VALUES (1, 1, 5, CAST(1000 AS Decimal(18, 0)), 7)
INSERT [dbo].[Factura_Detalle] ([id_detalle], [id_factura], [id_producto], [precio], [cantidad]) VALUES (2, 2, 6, CAST(250 AS Decimal(18, 0)), 18)
INSERT [dbo].[Factura_Detalle] ([id_detalle], [id_factura], [id_producto], [precio], [cantidad]) VALUES (3, 3, 9, CAST(900 AS Decimal(18, 0)), 27)
GO
SET IDENTITY_INSERT [dbo].[Factura_Detalle] OFF
GO
SET IDENTITY_INSERT [dbo].[Productos] ON 

INSERT [dbo].[Productos] ([id_Producto], [id_Categoria], [Nombre], [Precio], [Cantidad]) VALUES (1, 1, N'Jordan', CAST(500 AS Decimal(18, 0)), 870)
INSERT [dbo].[Productos] ([id_Producto], [id_Categoria], [Nombre], [Precio], [Cantidad]) VALUES (2, 2, N'Tommy', CAST(1100 AS Decimal(18, 0)), 866)
INSERT [dbo].[Productos] ([id_Producto], [id_Categoria], [Nombre], [Precio], [Cantidad]) VALUES (3, 1, N'Crocs', CAST(700 AS Decimal(18, 0)), 806)
SET IDENTITY_INSERT [dbo].[Productos] OFF
GO
SET IDENTITY_INSERT [dbo].[Tipo_Pago] ON 

INSERT [dbo].[Tipo_Pago] ([id_Tipo], [Nombre]) VALUES (1, N'efectivo')
INSERT [dbo].[Tipo_Pago] ([id_Tipo], [Nombre]) VALUES (2, N'tarjeta')
INSERT [dbo].[Tipo_Pago] ([id_Tipo], [Nombre]) VALUES (3, N'bono')
SET IDENTITY_INSERT [dbo].[Tipo_Pago] OFF
GO
/****** Object:  Index [index_supervisor]    Script Date: 14/4/2022 10:13:10 p. m. ******/
CREATE NONCLUSTERED INDEX [index_supervisor] ON [dbo].[Empleado]
(
	[Id_Supervirsor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [index_comprador]    Script Date: 14/4/2022 10:13:10 p. m. ******/
CREATE NONCLUSTERED INDEX [index_comprador] ON [dbo].[Factura]
(
	[id_Comprador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [index_empleado]    Script Date: 14/4/2022 10:13:10 p. m. ******/
CREATE NONCLUSTERED INDEX [index_empleado] ON [dbo].[Factura]
(
	[id_Empleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [index_tipo]    Script Date: 14/4/2022 10:13:10 p. m. ******/
CREATE NONCLUSTERED INDEX [index_tipo] ON [dbo].[Factura]
(
	[id_Tipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [index_factura]    Script Date: 14/4/2022 10:13:10 p. m. ******/
CREATE NONCLUSTERED INDEX [index_factura] ON [dbo].[Factura_Detalle]
(
	[id_factura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [index_producto]    Script Date: 14/4/2022 10:13:10 p. m. ******/
CREATE NONCLUSTERED INDEX [index_producto] ON [dbo].[Factura_Detalle]
(
	[id_producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [index_categoria]    Script Date: 14/4/2022 10:13:10 p. m. ******/
CREATE NONCLUSTERED INDEX [index_categoria] ON [dbo].[Productos]
(
	[id_Categoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Categoria_Producto] ADD  DEFAULT ((0)) FOR [cantidad]
GO
ALTER TABLE [dbo].[Empleado] ADD  DEFAULT ((0)) FOR [Id_Supervirsor]
GO
ALTER TABLE [dbo].[Empleado] ADD  DEFAULT ((0)) FOR [Ventas]
GO
ALTER TABLE [dbo].[Productos] ADD  DEFAULT ((0)) FOR [Cantidad]
GO
ALTER TABLE [dbo].[Empleado]  WITH CHECK ADD  CONSTRAINT [FK_Empleado.Id_Supervirsor] FOREIGN KEY([Id_Supervirsor])
REFERENCES [dbo].[Empleado] ([id_Empleado])
GO
ALTER TABLE [dbo].[Empleado] CHECK CONSTRAINT [FK_Empleado.Id_Supervirsor]
GO
ALTER TABLE [dbo].[Factura]  WITH CHECK ADD  CONSTRAINT [FK_Factura.id_Comprador] FOREIGN KEY([id_Comprador])
REFERENCES [dbo].[Comprador] ([Id_Comprador])
GO
ALTER TABLE [dbo].[Factura] CHECK CONSTRAINT [FK_Factura.id_Comprador]
GO
ALTER TABLE [dbo].[Factura]  WITH CHECK ADD  CONSTRAINT [FK_Factura.id_Empleado] FOREIGN KEY([id_Empleado])
REFERENCES [dbo].[Empleado] ([id_Empleado])
GO
ALTER TABLE [dbo].[Factura] CHECK CONSTRAINT [FK_Factura.id_Empleado]
GO
ALTER TABLE [dbo].[Factura]  WITH CHECK ADD  CONSTRAINT [FK_Factura.id_Tipo] FOREIGN KEY([id_Tipo])
REFERENCES [dbo].[Tipo_Pago] ([id_Tipo])
GO
ALTER TABLE [dbo].[Factura] CHECK CONSTRAINT [FK_Factura.id_Tipo]
GO
ALTER TABLE [dbo].[Factura_Detalle]  WITH CHECK ADD  CONSTRAINT [FK_Factura_Detalle.id_factura] FOREIGN KEY([id_factura])
REFERENCES [dbo].[Factura] ([id_factura])
GO
ALTER TABLE [dbo].[Factura_Detalle] CHECK CONSTRAINT [FK_Factura_Detalle.id_factura]
GO
ALTER TABLE [dbo].[Factura_Detalle]  WITH CHECK ADD  CONSTRAINT [FK_Factura_Detalle.id_producto] FOREIGN KEY([id_producto])
REFERENCES [dbo].[Productos] ([id_Producto])
GO
ALTER TABLE [dbo].[Factura_Detalle] CHECK CONSTRAINT [FK_Factura_Detalle.id_producto]
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD  CONSTRAINT [FK_Producto.id_Categoria] FOREIGN KEY([id_Categoria])
REFERENCES [dbo].[Categoria_Producto] ([ID_CATEGORIA])
GO
ALTER TABLE [dbo].[Productos] CHECK CONSTRAINT [FK_Producto.id_Categoria]
GO
/****** Object:  StoredProcedure [dbo].[Insert_Customers]    Script Date: 14/4/2022 10:13:10 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[Insert_Customers]
	@nombre VARCHAR(25),
	@edad INT,
	@Sexo BINARY,
	@Cedula VARCHAR(13),
	@direccion VARCHAR(50),
	@bonos INT = 0,
	@numero_clientes INT = 0
AS
BEGIN
	SET @numero_clientes = (SELECT COUNT(Nombre) FROM Dbo.Comprador);

	SET @bonos = CASE 
		WHEN @numero_clientes < 5 THEN 500
		WHEN @numero_clientes BETWEEN 5 AND 15 THEN 400
		WHEN @numero_clientes BETWEEN 15 AND 20 THEN 200
		ELSE 0
	END;

	INSERT INTO dbo.Comprador
		(Nombre, edad, Sexo, Cedula, Direccion, Bonos)
	VALUES 
		(@nombre, @edad, @Sexo, @Cedula, @direccion, @bonos);

	INSERT INTO dbo.Acciones
		(mensaje, Fecha)
	VALUES
		('Ha Insertado un nuevo comprador',
		 GETDATE())
END
GO
/****** Object:  StoredProcedure [dbo].[Insert_Employee]    Script Date: 14/4/2022 10:13:10 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[Insert_Employee]
	@nombre VARCHAR(25),
	@edad INT,
	@cedula VARCHAR(25),
	@sexo BINARY,
	@rol BINARY, --0: Empleado, 1: Supervisor
	@id_supervisor INT = null,
	@ventas INT = 0 --la suma de las ventas de los empleados.
AS
BEGIN
	INSERT INTO dbo.Empleado
		(Nombre, edad, cedula, Sexo, Rol, Id_Supervirsor, Ventas)
	VALUES
		(@nombre, @edad, @cedula, @sexo, @rol, @id_supervisor, @ventas);
		--TODO: Calcular ventas.

	INSERT INTO dbo.Acciones
		(mensaje, Fecha)
	VALUES
		('Empleado registrado.', GETDATE())
END;
GO
/****** Object:  StoredProcedure [dbo].[Insert_Order]    Script Date: 14/4/2022 10:13:10 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[Insert_Order]
	@id_comprador INT,
	@id_empleado INT,
	@id_tipo INT,
	@pago DECIMAL,
	@subtotal DECIMAL,
	@id_producto INT, --Debería ser una lista.
	@cantidad_producto INT
AS
BEGIN
	--In case of error:
	DECLARE @error_number INT = 52000;
	DECLARE @message VARCHAR(250) = 'No hay suficiente cantidad de ese producto. En Procedure "Insert_Order"';
	DECLARE @state TINYINT = 1

	--Comprobar si hay algún dato vacío
	IF(@id_comprador IS NULL OR @id_empleado IS NULL OR
	   @id_tipo IS NULL OR @pago IS NULL OR @subtotal IS NULL)
	BEGIN
		SET @error_number = 53000;
		SET @message = 'No se aceptan valores vacíos. En Procedure "Insert_Order"';

		INSERT INTO Errores (codigo, mensaje, Fecha)
		VALUES (@error_number, @message, GETDATE());

		THROW @error_number, @message, @state
	END

	--Comprobar si existe el cliente
	IF NOT EXISTS (SELECT * FROM dbo.Comprador WHERE Id_Comprador = @id_comprador)
	BEGIN
		SET @error_number = 54000;
		SET @message = 'No existe ningún comprador con ese id. En Procedure "Insert_Order"';

		INSERT INTO Errores (codigo, mensaje, Fecha)
		VALUES (@error_number, @message, GETDATE());

		THROW @error_number, @message, @state
	END

	--Comprobar si existe el empleado
	IF NOT EXISTS (SELECT * FROM dbo.Empleado WHERE id_Empleado = @id_empleado)
	BEGIN
		SET @error_number = 55000;
		SET @message = 'No existe ningún empleado con ese id. En Procedure "Insert_Order"';

		INSERT INTO Errores (codigo, mensaje, Fecha)
		VALUES (@error_number, @message, GETDATE());

		THROW @error_number, @message, @state
	END

	--Comprobar si hay productos en stock
	DECLARE @cantidad INT;
	SET @cantidad = (SELECT Cantidad FROM dbo.Productos WHERE id_Producto = @id_producto);

	IF @cantidad < @cantidad_producto
	BEGIN
		INSERT INTO Errores (codigo, mensaje, Fecha)
		VALUES (@error_number, @message, GETDATE());

		THROW @error_number, @message, @state
	END

	--Calcular Bonos
	DECLARE @bonos INT;
	SET @bonos = (SELECT Bonos FROM dbo.Comprador WHERE Id_Comprador = @id_comprador);
	
	BEGIN TRAN
		IF @id_tipo = 3 --El comprador va a usar sus bonos.
		BEGIN

			IF @subtotal > @bonos
			BEGIN 
				SET @error_number = 56000;
				SET @message = 'El comrpador no tiene la suficiente cantidad de bonos. En Procedure "Insert_Order"';

				INSERT INTO Errores (codigo, mensaje, Fecha)
				VALUES (@error_number, @message, GETDATE());

				THROW @error_number, @message, @state
			END
			
			--Descontar bonos
			UPDATE dbo.Comprador 
			SET
				Bonos = @bonos - @subtotal
			WHERE Id_Comprador = @id_comprador;

			INSERT INTO dbo.Acciones
				(mensaje, Fecha)
			VALUES
				('Ha hecho un cambio de los bonos de un Comprador. En procedure "Insert_Order"',
				 GETDATE());
		END

		BEGIN TRY
			DECLARE @bonos_generados INT;
			SET @bonos_generados = @subtotal / 50;
			UPDATE dbo.Comprador 
			SET
				Bonos = @bonos + @bonos_generados
			WHERE Id_Comprador = @id_comprador;

			INSERT INTO dbo.Acciones
				(mensaje, Fecha)
			VALUES
				('Ha hecho un cambio de los bonos de un Comprador. En procedure "Insert_Order"',
				 GETDATE());

			--Insertar factura

			INSERT INTO dbo.Factura
				(id_Comprador, id_Empleado, fecha, pago, id_Tipo, subtotal, Impuesto, Total, Bonos_Generados)
			VALUES
				(@id_comprador, @id_empleado, GETDATE(), @subtotal, @id_tipo, @subtotal, 0.18, @subtotal + 0.18, @bonos + @bonos_generados);

			INSERT INTO dbo.Acciones
				(mensaje, Fecha)
			VALUES
				('Factura ingresada desde Procedure "Insert_Order"', GETDATE());

			--Insertar ventas en Empleado
			DECLARE @ventas INT = (SELECT ventas FROM dbo.Empleado WHERE id_Empleado = @id_empleado);
			UPDATE dbo.Empleado
			SET
				Ventas = @ventas + 1
			WHERE id_Empleado = @id_empleado;

			--Actualizar Superior
			DECLARE @id_supervisor INT = (SELECT Id_Supervirsor FROM dbo.Empleado WHERE id_Empleado = @id_empleado);
			SET @ventas = (SELECT ventas FROM dbo.Empleado WHERE id_Empleado = @id_supervisor);
			UPDATE dbo.Empleado
			SET
				Ventas = @ventas + 1
			WHERE id_Empleado = @id_supervisor;

			--Insertar Factura detalle
			DECLARE @id_factura INT = (SELECT id_factura From dbo.Factura
									   WHERE id_Comprador = @id_comprador AND
											 id_Empleado = @id_empleado AND
											 subtotal = @subtotal);

			DECLARE @precio DECIMAL = (SELECT precio FROM dbo.Productos WHERE id_Producto = @id_producto);
			
			INSERT INTO dbo.Factura_Detalle
				(id_factura, id_producto, precio, cantidad)
			VALUES
				(@id_factura, @id_producto, @precio, @cantidad_producto);

			INSERT INTO dbo.Acciones
				(mensaje, Fecha)
			VALUES
				('Detalle de Factura ingresado desde Procedure "Insert_Order"', GETDATE());

			--Descontar la cantidad
			UPDATE dbo.Productos
			SET
				Cantidad = @cantidad - @cantidad_producto
			WHERE id_Producto = @id_producto;

			COMMIT;
		END TRY
		BEGIN CATCH
			INSERT INTO dbo.Errores
				(mensaje, Fecha)
			VALUES
				('Ocurrió un error insertando una factura. En procedure "Insert_Order"', 
				 GETDATE());

			ROLLBACK;
		END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[INSERT_PRODUCT]    Script Date: 14/4/2022 10:13:10 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[INSERT_PRODUCT]
	@categoriaId INT,
	@nombre	VARCHAR(25),
	@precio	DECIMAL,
	@cantidad INT,

	--Error case
	@error_number INT = 51000,
	@message VARCHAR(250) = 'Existe un producto con ese nombre',
	@state TINYINT = 1
AS
BEGIN
	IF EXISTS(SELECT * FROM dbo.Productos WHERE Nombre = @nombre)
	BEGIN
		 INSERT INTO Errores (codigo, mensaje, Fecha)
		 VALUES (@error_number, @message, GETDATE());

		 THROW @error_number, @message, @state
	END
	INSERT INTO dbo.Productos
		(id_Categoria, Nombre, Precio, Cantidad)
	VALUES
		(@categoriaId, @nombre, @precio, @cantidad);

	DECLARE @cantidad_categoria INT = (SELECT cantidad FROM dbo.Categoria_Producto WHERE ID_CATEGORIA = @categoriaId);
	UPDATE dbo.Categoria_Producto
	SET
		cantidad = @cantidad_categoria + @cantidad
	WHERE ID_CATEGORIA = @categoriaId;

END
GO
USE [master]
GO
